.left {
  position: absolute;
  transition: left 0.5s;
  width: 80%;
  left: -100%;
  z-index: 1;
  background-color: black;
  border-radius: 20px;
}

.home {
  clip-path: polygon(
    0 0,
    calc(100% - 40px) 0,
    calc(100% - 40px) 40px,
    100% 40px,
    100% 100%,
    0 100%
  );
}

.footer {
  width: 95%;
}

.right {
  width: 100vw;
  margin: 0;
}

.aboveBar {
  flex-direction: column;
  gap: 15px;
}

.playBar {
  width: 88%;
}

.seekBar {
  width: 92%;
}

.menu {
  display: inline-block;
}

.songList {
  height: 50vh;
}

.close {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.cardContainer {
  justify-content: center;
  margin: 30px 0 0 0;
}

.playBar {
  height: fit-content;
}

.card {
  width: 10rem;
  height: 17rem;
}

.card:hover .play {
  opacity: 1;
  transform: translateY(-60px);
}

.play {
  top: 200px;
}

.library {
  min-height: 67vh;
}

.songInfo {
  text-align: start;
}

.songTime {
  text-align: center;
}
